body {
    margin: 0;
    font-family: Arial;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.navbar {
    display: flex;
    justify-content: space-between;
    background: black;
    padding: 15px 40px;
    color: white;
    align-items: center;
}
.logo {
    display: flex;
    align-items: center;
    gap:10px;
}
.logo img {
    width: 45px;
    height: 45px;
    object-fit: cover;
}
.logo h2 {
    color: white;
}
.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}
.nav-links li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    transition: 03s;
}
.nav-links li a:hover {
    color: #f5b6c6;
}
.hero {
    position: relative;
    width: 100%;
    height: 130px;
    overflow: hidden;
}
.hero::after {
    content: "";
    position:absolute;
    inset:0;
    background: rgba(0, 0, 0, 0.35);
}
.brand {
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    z-index: 2;
}
.brand h1{
    font-size: 50px;
    letter-spacing: 3px;
    font-weight: bold;
    margin-bottom: 10px;
}
.brand p {
    font-size: 20px;
    letter-spacing: 1px;
    color: darkmagenta;
}
.slider {
    width: 100%;
    height: 380px;
    position: relative;
    overflow: hidden;
}
.slide {
    width: 100%;
    height: 380px;
    object-fit: cover;
    display: none;
    transition: opacity 0.8 ease-in-out;
}
.slide.active {
    display: block;
} /*
.slider img {
    width: 100%;
    height: 400px;
    display: none;
}
.slider img.active {
    display: block;
} */
.categories {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 50px;
    background: #fff;
    flex-wrap: wrap;
}
.category-card {
    text-align: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    width: 280px;
    background: #fafafa;
    overflow: hiiden;
    transition: 0.3s ease;
}
.category-card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}
.category-card h3 {
    margin: 15px 0;
    font-size: 18px;
}
.category-card a {
    display: inline-block;
    margin-bottom: 20px;
    padding: 8px 20px;
    background: black;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.3s;
}
.category-card a:hover {
    background: #f5b6c6;
    color: black;
}
.category-card:hover {
    transform: translateY(-8px);
}
footer {
    background: black;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 14px;
}
footer p {
    margin: 5px 0;
}
